{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="padding-top:15%; padding-bottom:10%; padding-left:10%">
  <div class="col-md-10 well" align="center">
    <table class="table-responsive">
      
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == "success" %}
      <p class="text-info" align="center"><strong>{{ message }}</strong></p>
      {% else %}
      <p class="text-danger" align="center"><strong>{{ message }}</strong></p>
      {% endif %}
      {% endfor %}
      {% endif %}

      <form role="form" id="tftexinput5" method="post" action="/user/password_reset/"
	    enctype="multipart/form-data" >
	{% csrf_token %}
	<b>Your password will be sent to your email </b><br>
	<b>Enter your Email address</b>:<br><br> <input type="email" name="email" class="tftextinput5" placeholder="Enter your email"> <br><br>
	
{% csrf_token %}
	<div align="center">
	  <input class="btn btn-primary" type="submit" name="submit" value="Submit" />
	</div>
      </form>
    </table>
  </div>
</div>
{% endblock content %}
